<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Task 9</h1>
  <p class="lead">Yauheni Antonchanka, student of FAMCS BSU, 2023</p>
  <hr class="my-4">
  <p>Created using Angular. Subject area - periodicals. When an item from the list below is clicked, detailed information about it is displayed, the Go Back button returns to the list item</p>
</div>
<app-periodical-center></app-periodical-center>
